<footer class="site-footer">
  <div class="site-footer-legal">© 2017 <a href="javascript:void(0)">DoinikDhaka</a></div>
  <div class="site-footer-right">
    Crafted with <i class="red-600 icon md-favorite"></i> by <a href="javascript:void(0)">BDMADE</a>
  </div>
</footer>
