<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="daily newspaper in bangladesh">
<meta name="author" content="bdmade">

<title>Doinikdhaka|Admin</title>
<%= csrf_meta_tags %>

<link rel="apple-touch-icon" href="<%= image_url 'apple-touch-icon.png' %>">
<link rel="shortcut icon" href="<%= image_url 'favicon.ico' %>">

<%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700'>
<%= javascript_include_tag :modernizr %>

<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
<![endif]-->

<!--[if lt IE 10]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
