<%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
<script>Breakpoints();</script>
<script>
  (function (document, window, $) {
    'use strict';

    var Site = window.Site;
    $(document).ready(function () {
      Site.run();
    });
  })(document, window, jQuery);
</script>
