<div class="site-menubar">
  <ul class="site-menu">

    <li class="site-menu-item">
      <a class="animsition-link" href="javascript:void(0)">
        <i class="fa fa-flask" aria-hidden="true"></i>
        <span class="site-menu-title">Adspaces</span>
      </a>
    </li>

    <li class="site-menu-item">
      <a class="animsition-link" href="javascript:void(0)">
        <i class="fa fa-plug" aria-hidden="true"></i>
        <span class="site-menu-title">Advertisements</span>
      </a>
    </li>

    <li class="site-menu-item">
      <a class="animsition-link" href="javascript:void(0)">
        <i class="fa fa-cubes" aria-hidden="true"></i>
        <span class="site-menu-title">Categories</span>
      </a>
    </li>

    <li class="site-menu-item">
      <a class="animsition-link" href="javascript:void(0)">
        <i class="fa fa-fire" aria-hidden="true"></i>
        <span class="site-menu-title">Comments</span>
      </a>
    </li>

    <li class="site-menu-item">
      <a class="animsition-link" href="javascript:void(0)">
        <i class="fa fa-signal" aria-hidden="true"></i>
        <span class="site-menu-title">Companies</span>
      </a>
    </li>

    <li class="site-menu-item">
      <a class="animsition-link" href="javascript:void(0)">
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
        <span class="site-menu-title">News</span>
      </a>
    </li>

    <li class="site-menu-item">
      <a class="animsition-link" href="javascript:void(0)">
        <i class="fa fa-tasks" aria-hidden="true"></i>
        <span class="site-menu-title">Prayer's times</span>
      </a>
    </li>

    <li class="site-menu-item">
      <a class="animsition-link" href="javascript:void(0)">
        <i class="fa fa-file-photo-o" aria-hidden="true"></i>
        <span class="site-menu-title">Sliders</span>
      </a>
    </li>

    <li class="site-menu-item">
      <a class="animsition-link" href="javascript:void(0)">
        <i class="fa fa-legal" aria-hidden="true"></i>
        <span class="site-menu-title">Today's Horoscope</span>
      </a>
    </li>

    <li class="site-menu-item">
      <a class="animsition-link" href="javascript:void(0)">
        <i class="fa fa-snowflake-o" aria-hidden="true"></i>
        <span class="site-menu-title">Today's Speech</span>
      </a>
    </li>

    <li class="site-menu-item">
      <a class="animsition-link" href="javascript:void(0)">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span class="site-menu-title">Users</span>
      </a>
    </li>

    <li class="site-menu-item">
      <a class="animsition-link" href="javascript:void(0)">
        <i class="fa fa-leaf" aria-hidden="true"></i>
        <span class="site-menu-title">User Groups</span>
      </a>
    </li>

    <li class="site-menu-item">
      <a class="animsition-link" href="javascript:void(0)">
        <i class="fa fa-file-movie-o" aria-hidden="true"></i>
        <span class="site-menu-title">Video News</span>
      </a>
    </li>

    <li class="site-menu-item">
      <a class="animsition-link" href="javascript:void(0)">
        <i class="fa fa-heart" aria-hidden="true"></i>
        <span class="site-menu-title">Votes</span>
      </a>
    </li>

  </ul>
</div>
