<div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
  <img class="navbar-brand-logo" src="<%= image_url 'logo.png' %>" title="DoinikDhaka">
  <span class="navbar-brand-text hidden-xs">দৈনিক ঢাকা</span>
</div>
