<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
  <%= render 'layouts/admin/head' %>
</head>
<body class=" site-navbar-small">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->
<%= render 'layouts/admin/nav' %>

<%= render 'layouts/admin/left_side_menu' %>

<!-- Page -->
<div class="page">
  <div class="page-content">
    <%= yield %>
  </div>
</div>
<!-- End Page -->


<!-- Footer -->
<%= render 'layouts/admin/footer' %>
<!-- Core  -->
<%= render 'layouts/admin/js' %>
</body>

</html>
